# =========================
# C# / .NET
# =========================
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*

# =========================
# Ambiente
# =========================
.env
.env.*

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Banco de dados
# =========================
*.sql.bak
*.backup